.container {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}

.photo {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    margin-top: 7px;
}

@media (max-width: 768px) {
    .container {
        display: block;
        padding: 30px;
        width: 100%;
    }

    .photo {
        margin: 0 auto;
        display: block;
        margin-bottom: 50px;
    }
}
