.footer {
    background-color: #000;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    display: grid;
    padding: 30px;
    place-items: center;
    height: 200px;
    margin-top: 30px;
}

.footer p {
    color: white;
    display: inline;
}

.socialMedia {
    display: flex;
    gap: 10px;
}

.footer svg {
    font-size: 2rem;
}

@media (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
    }
}